body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #11171b;
  color: #efefef;
  font-family: "Courier New", Courier, monospace;
}
h1 {
  min-width: 600px;
  width: fit-content;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #252d33;
  text-align: center;
}
.container {
  max-width: 800px;
  margin-inline: auto;
  background-color: #4f8bb3;
  padding: 0.5rem;
  border-radius: 12px;
}
