* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #11171b;
  color: #efefef;
}
.container {
  margin-top: 3rem;
  max-width: 800px;
  margin-inline: auto;
  background-color: #d67200;
  padding: 1rem;
  border-radius: 12px;
  text-align: center;
}

.timer {
  font-size: 6rem;
}

.controls {
  text-align: center;
}

button {
  padding: 0.25rem 0.5rem;
  border: 0;
  font-weight: bold;
  border-radius: 0.25rem;
  width: 30%;
  cursor: pointer;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.paused {
  animation: blink 0.8s infinite;
}
